<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right" >
            

            &copy;<a href="https://foochane.cn/" target="_blank">foochane</a> &nbsp;
            <i class="fa fa-heart-o"></i>
            主题:
            <a href="https://github.com/blinkfox/hexo-theme-matery" target="_blank">hexo-theme-matery</a>

            <% if (theme.wordCount.enable && theme.wordCount.totalCount) { %>
                &nbsp;<i class="fa fa-area-chart"></i>&nbsp;站点总字数:&nbsp;
                <span class="white-color"><%= totalcount(site) %></span>
            <% } %>

            
            <% let socialClass = '' %>
			<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
                <% socialClass = 'social-statis' %><br>
                <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
                <span id="busuanzi_container_site_pv">
                    <i class="fa fa-users"></i>
                    <!-- <i class="fa fa-heart-o"></i> -->
                    总访问量 <span id="busuanzi_value_site_pv" class="white-color"></span>
                </span>
                <% } %>
                <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
                <span id="busuanzi_container_site_uv">
                    <!-- <i class="fa fa-users"></i> -->
                    次,&nbsp;访客数 <span id="busuanzi_value_site_uv" class="white-color"></span> 人.
                </span>
                <% } %>
            <% } %>

            <!-- 显示本站运行时间 -->
            <!-- <div>
                本站已稳定运行:
                <span class="white-clolor">
                    <script language = "JavaScript"type = "text/javascript" >
                    var urodz = new Date("5/18/2019");
                    var now = new Date();var ile = now.getTime() - urodz.getTime();
                    var dni = Math.floor(ile / (1000 * 60 * 60 * 24));document.write( + dni)
                    </script>
                </span>
                
                天
            </div> -->

        </div>
        <div class="col s12 m4 l4 social-link <%- socialClass %>"><%- partial('_partial/social-link') %></div>
    </div>

    <!-- 添加百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?2d2c1c315a05842917c0c3796c55d2a9";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?81e024694c9fceddf5b85405a7b0b4ea";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
</footer>

<div class="progress-bar"></div>
